# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production.local

# Build artifacts
dist/
.cache/
.vercel/

# Database (local)
*.db

.vercel
.env*.local
